html
  font-family 'Minecraft'
  font-size 32px

  --background white
  --foreground black

  @media screen and (max-width 500px)
    font-size 24px

body
  height 60vh
  display flex
  flex-direction column
  justify-content center
  align-items center

  background-color var(--background)
  color var(--foreground)

p
  margin 0

a
  color initial

#time
  font-size 2rem
  cursor pointer

#source
  position fixed
  bottom 0
  margin-bottom 10px

  font-size 20px
